/* Home.css */

/* General styles */
body {
    /* background-color: #f8f9fa; Light background */
    background-image: url(../image.avif);
}

/* Form styles */
form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 10px;
}

/* Button styles */
/* button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
} */

/* button:hover {
    background-color: #0056b3;
} */

/* Post card styles */
.card {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.p-4 {
    border: 5px solid #a8a8a8;
    border-radius: 10px;
}
.div0 {
    padding: 10px;
}